body {
    font-family: "Manrope", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #000;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.contact-info {
    flex: 1 1 45%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-info h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.contact-info p {
    line-height: 1.6;
    margin: 10px 0;
}

.contact-info a {
    color: #640f0f;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.contact-image {
    display: inline;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-image img {
    max-width: 100%;
    height: auto;
}

.contact-form {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.contact-form textarea {
    grid-column: span 2;
    resize: none;
}

.contact-form button {
    grid-column: span 2;
    margin: 10px 0px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #640f0f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: black;
}

.field-description {
    font-size: 0.85rem;
    color: #777;
    margin: 5px 0px 10px 10px;
}

.error-message {
    color: #640f0f;
    font-size: 0.85rem;
    margin: 5px 0px 10px 10px;
}
