@page
@model JewelryApp.Pages.CollectionsModel
@{
    ViewData["Title"] = "Коллекции | Alchemy";
}

<head>
    <link rel="stylesheet" href="~/css/collections.css">
    <script src="~/js/accordion.js" type="module"></script>
</head>

<main class="collections">
    <div class="collections-container">
        <h1 class="collections-title">Уникальные серии украшений от Alchemy</h1>

        <button class="accordion">Пауки</button>
        <div class="panel">
            <h2>Пауки: пугающие и восхитительные!</h2>
            <p>Для одних сама мысль о пауке в комнате вызывает желание поджечь дом, а для других это настоящая любовь к этим удивительным членистоногим. Существует множество завораживающих видов пауков, граничащих с магическим. Давайте посмотрим на невероятные способности и особенности этих удивительных созданий.</p>
            <h2>Акробатика</h2>
            <p>Мы все знаем, что пауки — мастера плетения паутины и умело свисают с потолка, но некоторые из них обладают еще более удивительными умениями.</p>
            <p>Например, паук с забавным названием Flic-Flac (Cebrennus rechenbergi) имеет уникальный способ спасаться от опасностей — он делает кувырки! Этот паук может двигаться со скоростью 2 метра в секунду, что весьма впечатляет для такого маленького существа. Особенно учитывая, что он обитает в марокканской пустыне и даже умеет перекатываться через песчаные дюны. Этот малыш вдохновил на создание роботизированного дизайна благодаря своим невероятным движениям!</p>
            <p>Пауки рода Selenops обладают удивительной способностью планировать и даже «прыгать с парашютом» с тропических деревьев. Они вытягивают свои лапки и управляют движением в воздухе, чтобы контролировать траекторию падения и приземления. Это звучит одновременно потрясающе и пугающе, особенно если вы оказались под кронами деревьев в момент их «полётов». К счастью, эти пауки обитают в тропических лесах Панамы и Перу, так что на обычной прогулке в лесу вы вряд ли встретите этих воздушных акробатов. Фух!</p>
            <h2>Показ мод!</h2>
            <p>Все животные в мире природы любят демонстрировать свою красоту, особенно во время брачных ритуалов, и пауки — не исключение. Конечно, человеческое восприятие красоты пауков отличается, но некоторые виды настолько впечатляющи, что невозможно не обратить на них внимание.</p>
            <p>Павлин-паук (Maratus volans), обитающий в Азии и Океании, настолько яркий, как можно себе представить. Его сверкающие цвета и узоры на теле просто великолепны и действительно напоминают павлина — яркую пернатую птицу. У этого паука есть множество разновидностей, но самцы всех видов имеют характерный цветной «клапан», который они поднимают как павлиний хвост во время брачных танцев. Помимо этого впечатляющего шоу, эти пауки также демонстрируют свои фантастические танцевальные движения, чтобы привлечь самку. Если у тебя есть талант — используй его!</p>
            <h2>Странные</h2>
            <p>Ещё один большой странный представитель паучьего мира — это южноамериканский паук-птицеед голиаф (Theraphosa blondi) — одно только название звучит устрашающе! Настоящий феномен природы, это крупнейший известный паук в мире, который может вырастать до 12 см в длину, а размах его лап достигает 28 см.</p>
            <p>Несмотря на свои огромные размеры, исследования показывают, что его укус не смертелен для человека, но весьма неприятен, так как паук использует свои иглоподобные клыки длиной до 2,5 см. И да, они точно острые! Ещё один странный способ защиты, который он использует, — это трение лап друг о друга, при котором выделяются раздражающие волосы (уртицирующие волоски), вызывающие кожное раздражение и даже аллергические реакции у человека.</p>
            <p>К счастью, если вы окажетесь на территории этого паука, вас предупредят. Известно, что они издают громкий шипящий звук, слышимый на расстоянии до 4,5 метров. Более того, вы, скорее всего, услышите его приближение: в максимальном размере этот паук может весить как щенок, а звук от его лап напоминает цокот копыт лошади по земле. ЖУТЬ!</p>
            <p>Итак, если вы хотите выразить свою новую любовь к паукам или обзавестись талисманом, который отпугнёт этих ползучих тварей, обязательно ознакомьтесь с великолепными коллекциями от Alchemy!</p>
            <div class="panel-img">
                <a asp-page="/Product" asp-route-id="8"><img src="/img/emerald-venom.jpg" alt="emerald-venom"/></a>
                <a asp-page="/Product" asp-route-id="9"><img src="/img/spider.jpg" alt="spider"/></a>
                <a asp-page="/Product" asp-route-id="10"><img src="/img/emerald-venom1.jpg" alt="emerald-venom-1"/></a>
                <a asp-page="/Product" asp-route-id="11"><img src="/img/emerald-venom2.jpg" alt="emerald-venom-2"/></a>
            </div>
        </div>

        <button class="accordion">Змеи</button>
        <div class="panel">
            <h2>Изумительные змеи!</h2>
            <p>Змеи — одни из самых удивительных созданий на Земле. В одних культурах их боятся, в других — почитают. Эти скользкие существа вызывают одновременно восхищение и страх. Энтузиасты держат их в качестве домашних животных, а в некоторых странах они считаются опасными вредителями. От безобидных ужей до могучих питонов можно встретить невероятные виды змей со всего мира, которые выглядят так, будто сошли со страниц сказок братьев Гримм! Давайте познакомимся с ними поближе.</p>
            <h2>Щупальцевая змея</h2>
            <p>Щупальцевая змея (Erpeton tentaculatum) — чрезвычайно странное создание, напоминающее необычный гибрид! У этой змеи на голове есть два щупальцеобразных выроста, которые помогают ей охотиться, а также служат элементом маскировки. Будучи водным существом, змея использует свои щупальца для имитации водных растений, а на её коже даже может вырастать слой водорослей, усиливающий камуфляж. Это позволяет ей заманивать ничего не подозревающую рыбу в свою зону атаки.</p>
            <p>Однако змея не ограничивается маскировкой. Щупальца работают как отличные сенсоры, позволяя находить добычу даже при плохой видимости. Её фирменный приём заключается в том, чтобы молниеносно изгибаться дугой, словно гибкий бумеранг, вокруг спины своей жертвы. Таким образом, рыба попадает прямо в раскрытую пасть змеи, и всё это происходит за 30 миллисекунд! Кроме того, змея обладает ядом, который выделяется через её зубы с бороздками, парализуя быструю добычу. Настоящий многофункциональный хищник!</p>
            <h2>Мадагаскарская змея с листовидным носом</h2>
            <p>Ещё одна необычная змея — мадагаскарская змея с листовидным носом, отличающаяся острым или листовидным отростком на носу. Этот дополнительный элемент помогает змее сливаться с листвой в деревьях, чтобы избежать хищников или поджидать добычу.</p>
            <p>Эта змея особенно длинная (до 1,2 м) и тонкая, из-за чего её легко принять за ветку. Она даже адаптировалась к тому, чтобы раскачиваться вместе с деревом на ветру! Она ждёт, пока добыча не подойдёт на расстояние всего нескольких сантиметров, прежде чем нападать, продолжая поддерживать свою великолепную иллюзию. Полные свойства и цели этого "листовидного носа" всё ещё не до конца изучены, но очевидно, что он приносит змее немалую пользу, превращая её в мастера маскировки.</p>
            <h2>Бразильский радужный удав</h2>
            <p>Помимо странных физических особенностей, среди змей есть и те, чья красота кажется почти магической! Бразильский радужный удав (Epicrates cenchria), чьё название говорит само за себя, несомненно, является одной из самых красивых змей в мире.</p>
            <p>Этот удав обладает радужной окраской, напоминающей переливы масла на воде. Её чешуя создаёт микроскопические призмы, которые преломляют свет, вызывая этот завораживающий эффект. Кроме того, удав имеет изысканные узоры и насыщенные цвета — от красновато-коричневых до оранжевых оттенков. Завораживающая змея, которую легко представить спутницей ведьмы!</p>
            <p>Если раньше у вас не было любви к змеям, возможно, теперь вы испытываете уважение к этим существам. По крайней мере, вы можете оценить их как удивительных созданий, какими они действительно являются! И Alchemy запечатлевает их неземную красоту и свирепую природу в своих дизайнах:</p>
            <div class="panel-img">
                <a asp-page="/Product" asp-route-id="12"><img src="/img/behemoth-opvs-contra-natvram.jpg" alt="behemoth-opvs-contra-natvram"/></a>
                <a asp-page="/Product" asp-route-id="13"><img src="/img/the-sophia-serpent.jpg" alt="the-sophia-serpent"/></a>
                <a asp-page="/Product" asp-route-id="14"><img src="/img/tercia-serpent.jpg" alt="tercia-serpent"/></a>
                <a asp-page="/Product" asp-route-id="15"><img src="/img/psalm-68.jpg" alt="psalm"/></a>
            </div>
        </div>
    </div>
</main>
