@page
@model IndexModel
@{
    ViewData["Title"] = "Alchemy";
}

<head>
    <script src="~/js/button.js" type="module"></script>
</head>

<main>
    <button onclick="topFunction()" id="myBtn">Наверх</button>
    <div class="brand">
        <h1 class="brand-title">О бренде Alchemy</h1>
        <div class="brand-container">
            <div class="brand-content">
                <h2>Британская фирма готических украшений</h2>
                <div class="brand-content">
                    <p>Alchemy England — знаменитый британский бренд альтернативного стиля жизни, основанный в 1977 году. Этот культовый бренд считается мировым лидером в своей индустрии, а его продукция продаётся в 58 странах по всему миру. Alchemy может похвастаться обширной коллекцией из более чем 900 невероятных, уникальных и самобытных дизайнов. Благодаря своему исключительному стилю, бренд завоевал большую и преданную аудиторию, включая почти полмиллиона подписчиков в социальных сетях.</p>

                    <p>Всё началось с двух братьев и их мечты превратить страсть к альтернативному стилю в уникальный бизнес по созданию украшений, произведений искусства и сувениров. Украшения из металла, которые они изготавливали вручную, переплавляя металл на кухонной плите в своей крохотной квартире, продавались в магазине этажом ниже. Позже братья начали ездить по музыкальным фестивалям Европы, торгуя изделиями прямо из багажника автомобиля. Они и представить не могли, насколько успешным станет Alchemy, и что со временем они будут создавать украшения для своих кумиров, таких как Metallica, Iron Maiden, AC/DC и Motorhead, — и это лишь некоторые из них.</p>

                    <p>По мере роста популярности бренда увеличивался и спрос на продукцию Alchemy на рынке. Это неизбежно привело к естественному переходу к лицензированию бренда.</p>
                </div>
            </div>
            <img src="~/img/contact-page2.jpg" alt="alchemy-logo" class="brand-logo-alchemy"/>
        </div>

        <div class="brand-container">
            <img src="~/img/intro-300x295.png" alt="alchemy-logo" class="brand-logo-alchemy"/>
            <div class="brand-content">
                <h2>Символика Alchemy</h2>
                <div class="brand-content">
                    <p>Ранний брендинг украшений Alchemy отличался от сегодняшних маркировок. История компании, как и у многих зарождающихся предприятий, была непростой, и её идентичность эволюционировала со временем.</p>

                    <p>Самые первые изделия, которые положили начало бизнесу около 1976 года, представляли собой небольшую коллекцию панковских «антиукрашений»: дерзкие значки и подвески, такие как крышка унитаза, исписанный замок или согнутый винт, — всё это изготавливалось вручную из переработанного свинца и создавалось с целью шокировать! Эти изделия были брендированы под названием «Poker», причём это название вручную вырезалось на обратной стороне каждой модели. Затем, в 1977 году, братья арендовали небольшой магазин с маленькой мастерской позади. Магазин назвали Rieder’s Axe, а компанию — Rieder Design, в честь выдающегося австрийского оружейника конца XV века Каспара Ридера из Мюлау, Инсбрук. Он был мастером-металлургом в великолепном готическом стиле, работавшим по заказу императора Максимилиана I.</p>

                    <p>После года или двух упорной работы братья перешли к созданию более изысканных дизайнов, таких как детализированные черепа, сложные топоры и кресты, выполненные из высококачественного оловянного сплава. Именно на этом этапе впервые появилось «клеймо» с надписью «RD». Эти изделия, хотя и выглядят грубыми по современным меркам и производились в очень ограниченных количествах, стали зарождением Alchemy.</p>

                    <p>Первое клеймо «RD» представляло собой стандартный шрифт в овальной рамке, но позже оно было заменено более утончённой, круглой версией, выполненной с использованием специально разработанного шрифта.</p>
                </div>
            </div>
        </div>

        <div class="model-line">
            <h2>Линейка украшений</h2>
            <ul class="model-line-items">
                <li><a asp-page="/Product" asp-route-id="1"><img src="img/wycca-queen.jpg" alt="model-photo" class="model-img"/></a></li>
                <li><a asp-page="/Product" asp-route-id="4"><img src="img/lunar-moth.jpg" alt="model-photo" class="model-img"/></a></li>
                <li><a asp-page="/Product" asp-route-id="5"><img src="img/vouivre.jpg" alt="model-photo" class="model-img"/></a></li>
                <li><a asp-page="/Product" asp-route-id="2"><img src="img/black-widow.jpg" alt="model-photo" class="model-img"/></a></li>
                <li><a asp-page="/Product" asp-route-id="3"><img src="img/behemoth-logo.jpg" alt="model-photo" class="model-img"/></a></li>
                <li><a asp-page="/Product" asp-route-id="6"><img src="img/tears-of-the-moon-amethyst.jpg" alt="model-photo" class="model-img"/></a></li>
            </ul>
            <a asp-page="/Catalog" class="all-models-btn">Смотреть каталог</a>
        </div>
    </div>
</main>